@charset "UTF-8";

* {
    /*height: 100%;*/
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to top, #348888, #22BABB, #9EF8EE);
    background-attachment: fixed;
}

main {
    background-color: white;
    border-radius: 20px; /*arredonda a borda*/
    box-shadow: 5px 5px 15px #1e4e4ebd; /*mete sombra*/
    width: 600px;
    padding: 10px; /*aumenta o espaço entre as letras e o limite da caixa*/
    margin: auto; /*coloca a caixa no centro, e ajusta-se ao centro independentemente do tamanho da janela*/
}

h1 {
    color: #F24405;
    text-align: center;
    text-shadow: 1px 1px 2px #972b04b6;
}

h2 {
    color: #FA7F08;
}

p {
    text-align: justify;
}